<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329446833555-1gcbasnmcakdqomafcsosenn0h166ef3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329446833555-1gcbasnmcakdqomafcsosenn0h166ef3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7dSW2QJ0N2GgQyPBsnOYxYfpBq83oRS4</string>
	<key>GCM_SENDER_ID</key>
	<string>329446833555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footprint</string>
	<key>PROJECT_ID</key>
	<string>no-carbon-15db2</string>
	<key>STORAGE_BUCKET</key>
	<string>no-carbon-15db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329446833555:ios:490f7ca5555a6a04cb3c66</string>
</dict>
</plist>